table {
  color: white;
}

table tr td:first-child {
  color: grey;
  font-style: italic;
  padding: 3px 0;
}

table tr td:nth-child(2) {
  font-weight: bold;
}

td {
  padding: 4px 15px;
}

body {
  background: url('../public/f1-background.webp');
  background-size: cover;
}
