.leaderboard {
  width: 200px;
  height: 600px;
  background: #38383f;
  border-radius: 15px 0 0 15px;
  padding: 1em;
}

.leaderboard h1 {
  color: #b6b6b6;
  font-size: 24px;
  text-align: center;
}

.header {
  display: flex;
  border-bottom: gray 1px solid;
  height: 50px;
}

.title {
  margin: 0;
  font-weight: 1200;
  font-size: 28px !important;
}

.logo {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: -40px;
}