.leaderboard {
  width: 200px;
  height: 640px;
  background: rgba(7, 7, 7, 0.9);
  border-radius: 5px 0 0 5px;
  padding: 1em;
  position: relative;
}

.leaderboard h1 {
  color: #b6b6b6;
  font-size: 24px;
  text-align: center;
}

.outer {
  display: inline-block;
  padding: 10px 0 10px 10px;
  border-radius: 15px 0 0 15px;
  background: rgb(255, 255, 255, 0.2);
}

.header {
  display: flex;
  height: 40px;
}

.title {
  margin: 0;
  font-weight: 1200;
  font-size: 28px !important;
}

.logo {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: -40px;
}

.lapcounter {
  color: white;
  text-align: center;
  font-style: italic;
}